body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  border-bottom: 2px solid #e1f5ff;
  background: aliceblue;
}

img {
  width: 150px;
  margin: auto;
  position: relative;
  display: block;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginFormContainer {
  width: 500px;
  margin: 50px 0;
  border-radius: 10px;
  padding: 50px;
  background: #f9f9f9;
}

.patientsContainer {
  width: 500px;
  margin: 50px 0;
}

.patientsContainer h2 {
  text-transform: uppercase;
  color: #c6c6c6;
}

.patientsContainer .patientList {
  margin: 20px 0;
}

.patientsContainer .patient {
  margin: 20px 0;
  border-radius: 10px;
  background: #f9f9f9;
  padding: 25px 0 25px 15px;
  color: #414040;
}

.patientsContainer .patient span {
  margin-right: 5px;
}
